{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "[html]": {
    "editor.defaultFormatter": "vscode.html-language-features"
  }
}